  .View-Cookies-Area{
    min-width: 120rem;
    background-color: #f3f4f6;
  }
  
  .Cookies-Title{
    font-family: "DaysOne";
    font-size: 5rem;
    margin-left: 13.1vw;
    padding-top: 104px;
  }
  
  .Cookies-List{
    height: auto;
    margin-left: 13.1vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 58px;
  }