.Candyshop {
  background-color: #0f0d2c;
  min-width: 120rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Candyshop-Title {
  display: flex;
  align-items: flex-end;
  width: calc(100% - 16.8rem - 16.8rem);
  margin-left: 6.4rem;
  margin-top: 7rem;
}

.Candyshop-Big-Title {
  color: white;
  font-size: 4rem;
  margin: 0;
  font-family: "Candal-Regular";
}

.Candyshop-Small-Title {
  margin-top: 2rem;
  font-family: "Quicksand-Medium";
  color: white;
  line-height: 3.2rem;
  font-size: 1.7rem;
  margin-bottom: 4rem;
}

.Candyshop-Image {
  width: 40rem;
  margin-bottom: 2rem;
}

.Candy-List {
  min-width: 120rem;
  width: 82.5vw;
  background-color: #1f1f1f;
  border-radius: 1.6rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 2.718vw;
  padding-top: 6.6rem;
  margin-bottom: 20rem;
}
