.Team-Description {
  min-width: 120rem;
  width: 100%;
  height: auto;
  background-color: black;
}

.Title {
  padding-top: 16rem;
  margin-left: 19.4rem;
  font-size: 4rem;
  font-family: "Candal-Regular";
  color: white;
}

.Detail {
  font-family: "Quicksand-Medium";
  font-size: 1.6rem;
  margin-left: 19.4rem;
  margin-top: 2rem;
  color: white;
  line-height: 2.8rem;
  padding-bottom: 4rem;
}

.Team-List {
  margin-left: 19.7rem;
  width: calc(100% - 19.7rem);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20rem;
}
