.Cookie-Detail{
    width: 100%;
    min-width: 120rem;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 17.6rem;
    padding-bottom: 20rem;
}

.Cookie{
    width: max(59.84vw, 83.5rem);
    padding-bottom: 5rem;
    background-color: #181818;
    margin-right: max(1.093vw, 1.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.View{
    width: 37.4%;
    margin-right: max(1.927vw, 2.7rem);
    margin-top: max(1.927vw, 2.7rem);
}

.Cookie-Detail-Img{
    width: 100%;
    margin-bottom: 2.8rem;
}

.View-Opensea{
    background-color: #292929;
    width: 100%;
    height: 6.6rem;
    display: flex;
    align-items: center;
}

.View-Opensea > p{
    font-family: "Arial";

    font-size: 2.2rem;
    padding-left: 3.7rem;
    padding-right: 1.2rem;
    color: white;
}

.View-Opensea > img{
    width: 2.8rem
}

.Download-Contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Download{
    width: max(23.385vw,32.9rem);
    height: max(calc((25.260vw + 11.4rem) / 2), 23.5rem);
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.Download-Box{
    margin-top: 3.7rem;
    width: 80.1%;
}

.Download-Title{
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
}

.Download-Title > img{
    width: 3.3rem;
    margin-right: 1.4rem;
}

.Download-Divider{
    width: 100%;
    border: 0.2px solid #7f7f7f;
    margin-bottom: 4rem;
}

.Contact-Divider{
    width: 100%;
    border: 0.2px solid #7f7f7f;
    margin-bottom: 2.8rem;
}

.Download-Title > p{
    font-size: 2rem;
    font-weight: bold;
    font-family: "Arial";
    color: white;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.Download-Area{
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
}

.Download-Area > p{
    color: white;
    font-family: "Roboto-Regular";
    font-size: 1.8rem;
    width: calc(100% - 3.3rem);
    margin: 0 auto;
    text-align: left;
}

.Download-Area > img{
    width: 2.5rem;

}

.Contact-Address{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max(23.385vw, 32.9rem);
    height: max(calc((25.260vw + 11.4rem) / 2), 23.5rem);
    background-color: #181818;
    border-radius: 8px;

}

.Description-Play{
    margin-top: 1.927vw;

    width: 50.9%;
}

.Play-Music{
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
}

.Play-Music > img{
    width: 7rem;
    padding-right: 2.5rem;
}

.Cookie-Detail-Name{
    font-size: 3.5rem;
    font-family: "Rockwell";
    color: white;
    margin: 0 auto;
}

.Cookie-Detail-Creator{
    font-size: 1.7rem;
    font-family: "Roboto-Medium";
    color: #c4c4c4;
    margin: 0 auto;
}

.Cookie-Available{
    display: flex;
    justify-content: end;
    width: calc(100% - 25.5rem);
}

.Cookie-Available > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Cookie-Available > div > p{
    font-family: "Roboto-Medium";
    font-weight: bold;
    font-size: 1.6rem;
    margin: 0 auto;
    color: white;
}

#Available-Current{
    font-size: 3rem;
}

.Description-Detail{
    overflow: scroll;
    width: 100%;
    height: max(calc(22.3958vw - 3.3rem), 25.7rem);
    margin-top: 5.7rem;
    border: 0.2px solid #8b8b8b;
    border-radius: 6px;

}

.Description-Title{
    font-family: "Roboto-Medium";
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1.4rem;
}

.Description-Content{
    width: calc(100% - 3rem);
    font-family: "Roboto-Regular";
    font-size: 1.6rem;
    margin-bottom: 3rem;
    font-weight: normal;
    line-height: 2.81rem;
    color: white;
}

.View-Opensea > div{
    width: calc(100% - 26.3rem);
    display: flex;
    justify-content: end;
}

#arrow{
    width: 2rem;
}

.Description-Detail > div{
    margin-top: 3rem;
    margin-left: 4rem;
}

.Desription-Flex{
    display: flex;
}

#Title-Width{
    width: 17rem;
}

#Content-Width{
    width: auto;
    margin: 0 auto;
}

.Contact-Box{
    width: 80.1%;
    margin-top: 3.7rem;
}

.Contact-Box > p{
    margin-bottom: 1.5rem;
    margin-top: 0px;
    font-size: 2rem;
    font-family: "Arial";
    color: white;
    font-weight: bold;
}

.Contact-Item{
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}

.Contact-Item > p{
    width: calc(100% - 41.4%);
    color: white;
    font-family: "Roboto-Regular";
    font-size: 1.8rem;
    text-align: left;
    margin: 0 auto;
}

.Copy-Item{
    display: flex;
    align-items: center;
    width: 41.4%;
    height: 3.2rem;
    margin-left: 1.7rem;
    background-color: #292929;
    border-radius: 8px;
}

.Copy-Item > div{
    margin-left: 1.7rem;
    font-size: 1.7rem;
    font-family: "Arial";
    overflow:hidden;
    width: calc(100% - 4.5rem);
    text-overflow: ellipsis;
    color: white;
}

.Copy-Item > img{
    margin-left: 2.5rem;
    width: 2rem;
}