.Cookie-Card{
    width: max(22.7vw, 24.5rem);
    height: auto;
    border-radius: 18px;
    background-color: black;
    text-align: center;
    margin-right: max(2.76vw, 2.975rem);
    margin-bottom: 7.5rem;
  }
  
  .Cookie-Image{
    cursor: pointer;
    display: inline-block;
    margin-top: 2rem;
    width: 88.3%;
  }
  
  .Cookie-Description-And-Play-Button{
    margin-top: 2.6rem;
    display: flex;
  }
  
  .Cookie-Description{
    margin-left: 3.2rem;
    text-align: left;
    width: calc(100% - 89px);
  }
  
  .Cookie-Number{
    cursor: pointer;
    font-family: "Rockwell";
    font-size: max(2.08vw, 2.24rem);
    color: white;
    margin: 0 auto;
  }
  
  .Cookie-Artist{
    font-size: max(1.0416vw,1.12rem);
    font-family: "Roboto-Regular";
    color: #cacaca;
    margin: 0 auto;
  }
  
  .Cookie-Situation{
    font-family: Bruno;
    margin: 0 auto;
    margin-left: 3.2rem;
    width: 100%;
    text-align: left;
    font-size: max(1.6vw, 1.7rem);
    margin-top: 2.5rem;
    color: white;
  }
  
  .Play-Button{
    width: max(4.6vw, 5rem);
    margin-right: 2.3rem;
  }

  a{
    text-decoration: none;
  }
  
  .Connect-Link{
    text-decoration: none;
    line-height: max(3.792vw, 4.1rem);
    width: 100%;
    height: max(3.792vw, 4.1rem);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #292929;
    margin-top: 14px;
    color: white;
    font-size: max(1.354vw, 1.459rem);
    font-family: "Arial";
  }