  @font-face {
    font-family: "Heebo";       
    src: url("./fonts/Heebo-VariableFont_wght.ttf"); 
  }
  
  @font-face {
    font-family: "Rockwell";       
    src: url("./fonts/Rockwell-Bold.ttf"); 
  }
  
  @font-face {
    font-family: "DaysOne";       
    src: url("./fonts/DaysOne-Regular.ttf"); 
  }
  
  @font-face {
    font-family: "Rock";       
    src: url("./fonts/ROCK.TTF"); 
  }
  
  @font-face {
    font-family: "Roboto";       
    src: url("./fonts/DaysOne-Regular.ttf"); 
  }
  
  .App-Bar{
    z-index: 2;
    min-width: 1125px;
    align-items: center;
    display: flex;
    height: 5rem;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    padding-top: 3rem;
  }
  
  .Logo{
    margin-left: 6rem;
    height: 5rem;
  }
  
  .Menu{
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 47.7rem);
  }
  
  #Home{
    color: red;
  }

  .Cookies-Link{
    box-shadow: none;
    text-decoration: none;
    color: black;
  }

  .Menu-Item{
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Heebo";
    margin-bottom: 0px;
    margin-top: 0px;
    color: white;
  }

  .Cookies-Link > div{
    background-color: #8282822E;
    border-radius: 5px;
    margin-right: 1.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  
  .Connect-Wallet-Button{
    width: 20rem;
    height: 4.5rem;
    line-height: 4.5rem;
    background-color: red;
    color: white;
    font-weight:bold;
    margin-right: 6.5rem;
    text-align: center;
    border-radius: 14px;
    font-size: 1.5rem;
  }

  a{
    text-decoration: none;
  }