  @font-face {
    font-family: "Heebo";       
    src: url("./fonts/Heebo-VariableFont_wght.ttf"); 
  }
  
  @font-face {
    font-family: "Rockwell";       
    src: url("./fonts/Rockwell-Bold.ttf"); 
  }
  
  @font-face {
    font-family: "DaysOne";       
    src: url("./fonts/DaysOne-Regular.ttf"); 
  }
  
  @font-face {
    font-family: "Rock";       
    src: url("./fonts/ROCK.TTF"); 
  }
  
  @font-face {
    font-family: "Roboto-Medium";       
    src: url("./fonts/Roboto-Medium.ttf"); 
  }

  @font-face {
    font-family: "Roboto-Regular";       
    src: url("./fonts/Roboto-Regular.ttf"); 
  }

  @font-face {
    font-family: "Bruno";       
    src: url("./fonts/Bruno\ Ace\ SC\ Regular.ttf"); 
  }

  @font-face {
    font-family: "Arial-black";       
    src: url("./fonts/ariblk.ttf"); 
  }

  @font-face {
    font-family: "Arial-black";       
    src: url("./fonts/ariblk.ttf"); 
  }

  @font-face {
    font-family: "Elice-regular";       
    src: url("./fonts/EliceDigitalBaeumOTF_Regular.otf"); 
  }

  @font-face {
    font-family: "Klee-semibold";       
    src: url("./fonts/KleeOne-SemiBold.ttf"); 
  }

  p{
    color: white;
  }
  
  .Top-Area{
    height: max(52.083vw, 66.7rem);
    min-width: 120rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Main-Box{
    position: absolute;
    padding-top: 9.4rem;
    height: max(52.083vw, 66.7rem);
  }

  video{
    width: 100%;
    position: absolute;
    min-width: 128rem;
  }
  
  .Main-Title{
    font-size: max(2.5vw, 2.9rem);
    font-family: "Arial-black";
    margin-right: max(13.4895vw, 16.1rem);
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    white-space: nowrap;
    color: white;
  }

  .Box-With-Shadow{
    position: relative;
  }
  
  .Title-Box{
    overflow-x:hidden; overflow-y:auto;
    min-width: 95.3rem;
    display: flex;
    position: absolute;
    height: auto;
  }
  
  .Main-Image{
    width: max(20.98vw, 251px);
  }

  .Shadow{
    border-radius: 20px;
    position: absolute;
    width: 62.3958vw;
    height: 27.1678vw;
    margin-left: 3.5rem;
    margin-top: 3.5rem;
    background-color: #f1fd7f;
  }
  
  .Mint-Box{
    z-index: 1;
    min-width: 76.2rem;
    width: 62.3958vw;
    background-color: white;
    position: absolute;
    display: flex;
    margin-bottom: 11.1rem;
    border-radius: 20px;
    float: left;
    box-shadow: 3.0rem 3.0rem 0rem 0rem #f1fd7f;

  }
  
  .NFT-Image{
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    width: 37.1%;
    float: left;
    border-radius: 20px;
    background-color: pink;
  }
  
  .NFT-Content{
    margin-left: 5.8rem;
  }
  
  .NFT-Box{
    position: relative;
    width: calc(62.9% - 4.8rem);
  }
  
  .NFT-Number{
    margin: auto;
    font-family: "Rockwell";
    font-size: max(3.125vw, 41px);
  }
  
  .NTF-Name{
    margin-top: 6.3rem;
    font-family: "Roboto-Medium";
    font-size: max(1.56vw, 21px);
    margin-bottom: 1px;
  }
  
  .Date-And-Button{
    margin-top: 15.3%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Date{
    font-weight: bold;
    font-size: max(1.875vw, 21px);
    margin-bottom: 2.7rem;
  }
  
  .Mint-Button{
    width: max(13.6458vw, 154px);
    height: max(3.288vw, 37px);
    border-radius: 14px;
    background-color: #c4c4c4;
    color: white;
    text-align: center;
    line-height: max(3.288vw, 37px);
    font-size: max(1.458vw, 20px);
    font-weight: bold;
  }
  
  .Current-Situation{
    font-size: max(1.5625vw, 18px);
    margin-top: 1.2rem;
    font-family: "Roboto";
  }
  
  .View-Cookies-Home-Area{
    background-color: #FFF7D7;
    min-width: 120rem;
  }
  
  .Cookies-Area-Title{
    font-family: "DaysOne";
    font-size: 4rem;
    margin-left: 13.1vw;
    padding-top: 12rem;
  }
  
  .Cookies-List{
    height: auto;
    margin-left: max(13.1vw,25.1rem);
    display: flex;
    flex-wrap: wrap;
    margin-top: 58px;
  }
  
  .Show-More-Button{
    margin-top: 36px;
    margin-bottom: 134px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .Show-More-Cookies{
    width: 33.8rem;
    height: 66px;
    color: white;
    font-size: max(1.354vw, 1.459rem);
    font-weight: bold;
    line-height: 66px;
    text-align: center;
    background-color: black;
    border-radius: 14px;
  }
  
  .Project-Description{
    height: 1000px;
    min-width: 120rem;
    background-color: #010225;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Main-Description-Title > p{
    font-size: 7rem;
    margin: auto 0;
  }

  .Main-Description-Contents{
    margin-top: 4.8rem;
    width: 35%;
  }

  .Main-Description-Contents > p{
    font-size: 2rem;
  }

  .Main-Description-Image{
    width: 50%;
  }

  .Project-Description > div{
    display: flex;
    
  }

  .Bottom-Bar{
    min-width: 120rem;
    background-color: black;
  }
  
  .Info{
    position: relative;
    display: flex;
    padding-top: 40px;
    padding-bottom: 244px;
    margin-left: 12.5rem;
  }
  
  .White-Logo{
    position: absolute;
    width: 20.7rem;
  }
  
  .Contact{
    position: absolute;
    margin-left: 30.7rem;
    margin-top: 20px;
    
  }
  
  .SNS-List{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .SNS{
    width: 25px;
  }
  
  .SNS-List > p{
    margin: 0 auto;
    color: white;
    font-family: "Heebo";
    font-size: 14px;
    margin-left: 29px;
  }