.Cookies {
  outline: none;
  border: none;
}

.View-Cookies-Home-Area {
  background-color: #fff7d7;
  min-width: 128rem;
  position: relative;
  border: none;
  outline: none;
}

.Cookies-Area-Title {
  font-family: "DaysOne";
  font-size: 4rem;
  margin-left: 13.1vw;
  padding-top: 12rem;
}

.Cookies-List {
  height: auto;
  margin-left: max(13.1vw, 25.1rem);
  display: flex;
  flex-wrap: wrap;
  margin-top: 58px;
}

.Show-More-Button {
  margin-top: 36px;
  padding-bottom: 134px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Show-More-Cookies {
  width: 33.8rem;
  height: 66px;
  cursor: pointer;
  color: white;
  font-size: max(1.354vw, 1.459rem);
  font-weight: bold;
  line-height: 66px;
  text-align: center;
  background-color: black;
  border-radius: 14px;
}
