  @font-face {
    font-family: "Heebo";       
    src: url("./fonts/Heebo-VariableFont_wght.ttf"); 
  }
  
  @font-face {
    font-family: "Rockwell";       
    src: url("./fonts/Rockwell-Bold.ttf"); 
  }
  
  @font-face {
    font-family: "DaysOne";       
    src: url("./fonts/DaysOne-Regular.ttf"); 
  }
  
  @font-face {
    font-family: "Rock";       
    src: url("./fonts/ROCK.TTF"); 
  }
  
  @font-face {
    font-family: "Roboto-Medium";       
    src: url("./fonts/Roboto-Medium.ttf"); 
  }

  @font-face {
    font-family: "Bruno";       
    src: url("./fonts/Bruno\ Ace\ SC\ Regular.ttf"); 
  }
  
  .Top-Area{
    min-width: 120rem;
    height: auto;
    background-color: #f4f3e9;
  }
  
  .Main-Box{
    margin-left: 13.802vw;
    padding-top: 9.4rem;
    position: relative;
    height: 80rem;
  }
  
  .Main-Title{
    font-size: max(2.5vw, 2.9rem);
    font-family: "Rockwell";
    margin-right: max(13.4895vw, 16.1rem);
    margin-left: 1rem;
    white-space: nowrap;
  }
  
  .Title-Box{
    overflow-x:hidden; overflow-y:auto;
    min-width: 95.3rem;
    display: flex;
    position: absolute;
    height: auto;
    
  }
  
  .Main-Image{
    width: max(20.98vw, 251px);
  }
  
  .Mint-Box{
    min-width: 76.2rem;
    width: 72.3958vw;
    background-color: white;
    position: absolute;
    display: flex;
    margin-top: 11.3rem;
    margin-bottom: 11.1rem;
    border-radius: 20px;
    opacity: 0.96;
    float: left;
  }
  
  .NFT-Image{
    margin-top: 4.5%;
    margin-left: 4.5%;
    margin-bottom: 4.5%;
    width: 37.1%;
    float: left;
    border-radius: 20px;
    background-color: pink;
  }
  
  .NFT-Content{
    margin-left: 5.8rem;
  }
  
  .NFT-Box{
    position: relative;
    width: calc(62.9% - 4.8rem);
  }
  
  .NFT-Number{
    margin: auto;
    font-family: "Rockwell";
    font-size: max(3.125vw, 41px);
  }
  
  .NTF-Name{
    margin-top: 6.3rem;
    font-family: "Roboto-Medium";
    font-size: max(1.56vw, 21px);
    margin-bottom: 1px;
  }
  
  .Date-And-Button{
    margin-top: 19.3%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Date{
    font-weight: bold;
    font-size: max(1.875vw, 21px);
    margin-bottom: 2.7rem;
  }
  
  .Mint-Button{
    width: max(13.6458vw, 154px);
    height: max(3.288vw, 37px);
    border-radius: 14px;
    background-color: #c4c4c4;
    color: white;
    text-align: center;
    line-height: max(3.288vw, 37px);
    font-size: max(1.458vw, 20px);
    font-weight: bold;
  }
  
  .Current-Situation{
    font-size: max(1.5625vw, 18px);
    margin-top: 1.2rem;
    font-family: "Roboto";
  }
  
  .View-Cookies-Area{
    min-width: 120rem;
  }
  
  .Cookies-Title{
    font-family: "DaysOne";
    font-size: 5rem;
    margin-left: 13.1vw;
    margin-top: 104px;
  }
  
  .Cookies-List{
    height: auto;
    margin-left: max(13.1vw,25.1rem);
    display: flex;
    flex-wrap: wrap;
    margin-top: 58px;
  }
  
  .Show-More-Button{
    margin-top: 36px;
    margin-bottom: 134px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .Show-More-Cookies{
    width: 33.8rem;
    height: 66px;
    color: white;
    font-size: max(1.354vw, 1.459rem);
    font-weight: bold;
    line-height: 66px;
    text-align: center;
    background-color: black;
    border-radius: 14px;
  }
  
  .Project-Description{
    height: 1000px;
    min-width: 120rem;
    background-color: #c64045;
  }
  
  .Bottom-Bar{
    min-width: 120rem;
    background-color: black;
  }
  
  .Info{
    position: relative;
    display: flex;
    padding-top: 40px;
    padding-bottom: 244px;
    margin-left: 12.5rem;
  }
  
  .White-Logo{
    position: absolute;
    width: 20.7rem;
  }
  
  .Contact{
    position: absolute;
    margin-left: 30.7rem;
    margin-top: 20px;
    
  }
  
  .SNS-List{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .SNS{
    width: 25px;
  }
  
  .SNS-List > p{
    margin: 0 auto;
    color: white;
    font-family: "Heebo";
    font-size: 14px;
    margin-left: 29px;
  }