@font-face {
  font-family: "Heebo";       
  src: url("./fonts/Heebo-VariableFont_wght.ttf"); 
}

@font-face {
  font-family: "Rockwell";       
  src: url("./fonts/Rockwell-Bold.ttf"); 
}

@font-face {
  font-family: "DaysOne";       
  src: url("./fonts/DaysOne-Regular.ttf"); 
}

@font-face {
  font-family: "Rock";       
  src: url("./fonts/ROCK.TTF"); 
}

@font-face {
  font-family: "Roboto";       
  src: url("./fonts/DaysOne-Regular.ttf"); 
}

.Top-Area{
  height: auto;
  background-color: #f4f3e9;
}

.App-Bar{
  align-items: center;
  display: flex;
  height: 54.8px;
  width: 100%;
  padding-top: 56px;
}

.Logo{
  margin-left: 6.5rem;
  height: 54.8px;
}

.Menu{
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 200px);
}

#Home{
  color: red;
}

.Menu > p{
  font-size: 1.4rem;
  margin-right: 4.5rem;
  font-weight: 500;
  font-family: "Heebo";
}

.Connect-Wallet-Button{
  width: 24.8rem;
  height: 4rem;
  line-height: 4rem;
  background-color: red;
  color: white;
  font-weight:bold;
  margin-right: 6.5rem;
  text-align: center;
  border-radius: 12px;
  font-size: 1.7rem;
}

.Main-Box{
  margin-left: 195px;
  margin-top: 4.1rem;
  position: relative;
  height: 900px;
  width: auto;
}

.Main-Title{
  font-size: 2.6vw;
  font-family: "Rockwell";
  margin-right: 10.1%;
  margin-left: 26px;
}

.Title-Box{
  display: flex;
  position: absolute;
  height: auto;
  width: auto;
}

.Main-Image{
  width: 21%;
  margin-right: 32px;
}

.Mint-Box{
  width: 80%;
  background-color: white;
  position: absolute;
  display: flex;
  margin-top: 143px;
  margin-bottom: 111px;
  border-radius: 20px;
  opacity: 0.96;
  float: left;
}

.NFT-Image{
  margin-top: 44px;
  margin-left: 55px;
  margin-bottom: 68px;
  width: 36%;
  float: left;
  border-radius: 20px;
  background-color: pink;
}

.NFT-Content{
  margin-left: 66px;
}

.NFT-Number{
  margin: auto;
  font-family: "Rockwell";
  font-size: 6.3rem;
}

.NTF-Name{
  margin-top: 63px;
  font-family: "Rock";
  font-size: 3rem;
  margin-bottom: 1px;
}

.Date-And-Button{
  margin-top: 19.3%;
  text-align: center;
  margin-left: 78px;
}

.Date{
  font-weight: bold;
  font-size: 3.6rem;
  margin-bottom: 27px;
}

.Mint-Button{
  width: 262px;
  height: 63px;
  border-radius: 14px;
  background-color: #c4c4c4;
  color: white;
  text-align: center;
  line-height: 63px;
  font-size: 2.8rem;
  font-weight: bold;
  margin-left: calc((100% - 262px) / 2);
}

.Current-Situation{
  font-size: 3rem;
  margin-top: 12px;
  font-family: "Roboto";
}

.Cookies-Title{
  font-family: "DaysOne";
  font-size: 6rem;
  margin-left: 172px;
  margin-top: 104px;
}

.Cookies-List{
  width: 83%;
  height: auto;
  margin-left: 8%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 58px;
}

.Cookie-Card{
  width: 30%;
  height: 682px;
  border-radius: 18px;
  background-color: black;
  text-align: center;
  margin-right: 3.3%;
  margin-bottom: 76px;
}

.Cookie-Image{
  display: inline-block;
  margin-top: 2.2rem;
  width: 90%;
  
}

.Cookie-Description-And-Play-Button{
  margin-top: 1.6rem;
  display: flex;
}

.Cookie-Description{
  margin-left: 3.3rem;
  text-align: left;
  width: calc(100% - 89px);
}

.Cookie-Number{
  font-family: "Rockwell";
  font-size: 4rem;
  color: white;
  margin: 0 auto;
}

.Cookie-Artist{
  font-size: 2rem;
  font-family: "Roboto";
  color: white;

  margin: 0 auto;
}

.Play-Button{
  width: 99px;
  height: 89px;
  margin-right: 3rem;
  background-color: aqua;
}

.Divider{
  width: calc(100% - 34px);
  height: 1px;
  margin-left: 17px;
  margin-top: 50px;
  background-color: #c4c4c4;
}

.Connect-Link{
  width: 100%;
  margin-top: 20px;
  color: white;
  font-size: 2.4rem;
}

.Show-More-Button{
  margin-top: 36px;
  margin-bottom: 134px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Show-More-Cookies{
  width: 33.8rem;
  height: 66px;
  color: white;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 66px;
  text-align: center;
  background-color: black;
  border-radius: 14px;
}

.Project-Description{
  height: 1000px;
  width: 100%;
  background-color: #c64045;
}

.Bottom-Bar{
  width: 100%;
  background-color: black;
}

.Info{
  position: relative;
  display: flex;
  padding-top: 40px;
  padding-bottom: 244px;
  margin-left: 12.5rem;
}

.White-Logo{
  position: absolute;
  width: 20.7rem;
}

.Contact{
  position: absolute;
  margin-left: 30.7rem;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  background-color: white;
}