@font-face {
  font-family: "Heebo";       
  src: url("./fonts/Heebo-VariableFont_wght.ttf"); 
}

@font-face {
  font-family: "Rockwell";       
  src: url("./fonts/Rockwell-Bold.ttf"); 
}

.App-Bar{
  display: flex;
  /* background-color: blue; */
  height: 54.8px;
  width: 100%;
  margin-top: 56px;
  background-color: #f4f3e9;
}

.Logo{
  margin-left: 69px;
  width: 200px;
  height: 54.8px;
 
}

.Menu{
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 200px - 69px - 45px);
}

#Home{
  color: red;
}

.Menu > p{
  font-size: 20;
  margin-right: 45px;
  font-family: "Heebo";
}

.Connect-Wallet-Button{
  
  width: 248px;
  height: 100%;
  background-color: red;
  color: white;
  font-weight:700;
  text-align: center;
  line-height: 54.8px;
  border-radius: 14px;
  font-size: 25;
  
}

.Main-Box{
  margin-left: 195px;
  margin-top: 98.2px;
  position: relative;
}

.Title{
  font-size: 50px;
  font-family: "Rockwell";
  margin-right: 123px;
}

.Title-Box{
  display: flex;
  position: absolute;

}

.Main-Image{
  width: 403px;
  margin-right: 32px;
}

.Mint-Box{
  width: 80%;
  height: 600px;
  background-color: white;
  position: absolute;
  margin-top: 123px;
  border-radius: 20px;
  opacity: 0.96;
}
